#searchbox,#genre,#rating{
  width: 100%;
  padding: 12px 20px!important;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px!important;
  /* box-sizing: border-box; */
  font-size: large;
}
#searchbox
{
  background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 18px!important;
  background-size: 26px!important;
  background-position: right;
}
#searchbox:focus {
  background-image:none;
  text-indent:0px
  }
 
  
/* @media  screen   
and (min-device-width : 320px) and (max-device-width : 568px) 
{
  .marginLeft
{
margin-left:90px;
background:#141414
}
.color{
font-size: 26px!important;
color: white;
}
#searchbox
{
width: 250px!important;
margin-left: 25px!important;
height:45px
}
.image-size{
height:100px;
width: 120px;
}
  .scroll-menu-arrow {
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}
.genre-style
{
  margin-top: 15px;
  font-size:22px;
  margin-left:50px;
} 
.row{
  width: 250px;
}  
.home-btn
  {
    margin-left: 100px!important;
  }
 .tabs
  {
   margin-left:50px;
   font-size:18px;
   margin-top:20px   
  }
  .fontStyle
  {
    font-size: 12px;
  }   
} */



/* @media  screen   
   and (max-device-width : 500px) 
  {
    .marginLeft
{
  margin-left:90px;
 background:#141414
}
.color{
  font-size: 30px!important;
  color: white;
}
.image-size{
  height:100px;
  width: 120px;
}
    .scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  .genre-style
  {
    margin-top: 15px;
    font-size:22px;
    margin-left:50px;
  } 
  .row{
    width: 280px;
  }  
       .home-btn
    {
      margin-left: 120px!important;
    }
   .tabs
    {
     margin-left:50px;
     font-size:20px;
     margin-top:20px   
    }
    .fontStyle
    {
      font-size: 14px;
    }   
  } */
  /* @media  screen   
  and (min-device-width : 375px) 
  {
    #searchbox
    {
      width: 290px!important;
      margin-left: 30px!important;
      height:45px
    }
    .image-size{
      height:100px;
      width: 140px;
    }
  }
  @media  screen   
  and (min-device-width : 414px) 
  {
    
    .marginLeft
    {
      margin-left: 120px;
    }
    #searchbox
    {
      width: 330px!important;
      margin-left: 30px!important;
      height:45px
    }
    .image-size{
      height:100px;
      width: 140px;
    }
    .home-btn
    {
      margin-left: 150px!important;
    }   
    .fontStyle
    {
      font-size: 16px;
    } 
  }
  
  @media  screen   
  and (min-device-width : 768px) and (max-device-width:1024px)
  {
    .marginLeft
{
  margin-left:40px;
 background:#141414
}
.color{
  font-size: 35px!important;
  color: white;
}
#searchbox
{
  width: 650px!important;
  margin-left: 40px!important;
  height:45px
}
.image-size{
  height:120px;
  width: 120px;
}
    .scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
  }  
  .genre-style
  {
    margin-top: 15px;
    font-size:26px;
    margin-left:50px;
  }     
    .home-btn
    {
      margin-left: 30px!important;
    }
   .tabs
    {
     margin-left:50px;
     font-size:24px;
     margin-top:20px   
    }
    .fontStyle
    {
      font-size: 14px;
    }
  
   
  } */
  /* @media  screen   
  and (min-device-width : 1024px) and (max-device-width:1366px)
  {
    .marginLeft
{
  margin-left:40px;
 background:#141414
}
.color{
  font-size: 35px!important;
  color: white;
}
#searchbox
{
  width: 650px!important;
  margin-left: 40px!important;
  height:45px
}
.image-size{
  height:120px;
  width: 120px;
}
    .scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
  }  
  .genre-style
  {
    margin-top: 15px;
    font-size:26px;
    margin-left:50px;
  }     
    .home-btn
    {
      margin-left: 30px!important;
    }
   .tabs
    {
     margin-left:50px;
     font-size:30px;
     margin-top:20px   
    }
    .fontStyle
    {
      font-size: 16px;
    }
  
   
  }
   */
      
  /* @media  screen   
  and (min-device-width : 992px) 
  {
    .marginLeft
{
  margin-left:40px;
 background:#141414
}
.color{
  font-size: 42px!important;
  color: white;
}
#searchbox
{
  width: 600px!important;
  margin-left: 40px!important;
  height:55px
}
.image-size{
  height:200px;
  width: 200px;
}
    .scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
  }
  .row1{
    width: 400px;
  }
  
  .genre-style
  {
    margin-top: 15px;
    font-size:26px;
    margin-left:50px;
  }     
    .home-btn
    {
      margin-left: 30px!important;
    }
   .tabs
    {
     margin-left:50px;
     font-size:30px;
     margin-top:20px   
    }
    .fontStyle
    {
      font-size: 18px;
    }
  
   
  } */
  

 
