  .pagination{
    flex-wrap:wrap
  }
  .detailsCard{  
  flex-wrap:wrap;
  background: #F7F7F7;
  }

  .fontStyle
  {
    font-size: medium;
   font-family: 'Roboto';
  }
   
  .pagination a {
    font-size: 16px;
    margin: 4px 4px;
  }
 
  .font-family{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .row {margin: 0 -5px;}

  @media (min-width: 992px){
.col-lg-3 {
    /* flex: 0 0 25%; */
    max-width: 22%;
}
  }
 
  .btn{
      color: white;
      font-size: large;
    
  }
  .btn:hover {
    background: white;
  }
  .navbar2{
    background:rgb(34, 37, 57);
    display: flex;
    text-align: center;
  }
  .nav{
    background: rgb(51, 53, 69);
  }
 #searchbox,#genre,#rating{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    font-size: large;
 }
 #searchbox
 {
    background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 18px;
    background-size: 26px;
    background-position: right center;
 }
 #searchbox:focus {
    background-image:none;
    text-indent:0px
    }
 #button{
    width: 50%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    background:rgb(94, 138, 255);
    color: white;
    font-size: large;
 }
 #searchbox::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
    text-align: center;
}
  