

.fa-home
{
  font-size: 35px;
}

.home-btn{
    color: white;
    font-size: 20px;  
    width: 60px; 
    
}
.nav{
  background:rgb(34, 37, 57);
}
.center
{
  text-align: center;
  padding: 200px;
  font-size: 30px;
  width:90%
}


.card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}


  .search-box{
  display: flex;
  background: #fff;
  /* border-radius: 10px; */
  overflow: hidden;
  }
  
  .form-control, .search-box
  {
    width:80%;
  border: 0;
  height: 46px;
  padding:0 10px;
  outline: 0;
  margin:0px
  }
  
  .search-box .btn{
  background: #fff;
  border:1px solid #000;
  height: 36px;
  padding: 10px;
  margin-right: 10px;
  border: 0;
  cursor: pointer;
  outline: 0;
  }
  .fa-search{
    font-size: x-large;
  }
  .scroll-menu-arrow {
    cursor: pointer;
    font-size:3vh;
    color: #141414;  
    margin-left: 10px;
    margin-right: 10px;
  }
  