/* demo shizzle only */
body {
  background: #eee;
  /* margin: 30px auto; */
/*   outline: 1px solid #ccc; */
overflow: hidden;
width: 100%;
}

/* Still use global css (not utility css) for base typography etc? */
p {
  margin-bottom: 0.8em;
}
.scroll-menu-arrow--disabled {
  visibility: hidden;
}
@media  screen   
and (max-device-width : 500px) 
{
  body {
    overflow: hidden;
width: 100%;
  };
  .search-box
  {
    margin-left: 10%;
    margin-right: 10%;
  }
  .Tvshows
  {
    margin-left: 20%;
    /* margin-right: 10%; */
  }
  .img{
    width: 150px;
    height:140px
  }
  .img-details
  {
    width: 180px;
    /* height:120px */
  }
  .Tvshows
  {
    /* margin-left: 10px; */
    align-content: right;
  }
  .genre-style
  {
    font-size: 20px;
  }
  
}
@media  screen   
and (min-device-width : 768px) 
{
  .Tvshows
  {
    margin-left: 50px;
  }
  .genre-style
  {
    font-size: 28px;
  }
}


.card-group {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /* max-height:475px; <-- remove */
  background-color: lightgrey;
}

.card img {
  width: 100%;
}

.card {
  background-color: cornflowerblue;
  width: 30%;
  margin: 0px;
  flex: 2;
  border: 1px solid lightgrey;
  display: flex;  /* new */
  flex-direction: column;  /* new */
}

.card-block {
  padding: 10px;
  background-color: #fff;
  flex: 1;  /* new */
}

.card-title {
  font-size: 18px;
  color: grey;
  font-family: verdana, sans;
}

.card-footer {
  padding: 15px;
  border-top: 1px solid lightgrey;
  background-color: lightgrey;
}
